In [14]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]= (20,10)
import random

In [15]:
df1= pd.read_csv(".\\dataset\\pedo_data_clean_1.csv")
df1.head()

   soil_temp  soil_phs
0        NaN       NaN
1       23.0       NaN
2       22.0       NaN
3       21.0       NaN
4       19.0       NaN

In [16]:
df1.shape

(102078, 2)

In [17]:
df1.isnull().sum()

soil_temp      2898
soil_phs     101625
dtype: int64

In [18]:
# Define a function to fill missing soil temp with random values between -11 and 60
def fill_missing_soil_temp(row):
    if pd.isnull(row['soil_temp']):
        return round(random.uniform(9, 30), 1)
    else:
        return row['soil_temp']

In [19]:
# Apply the function to the soil_temperatures column
df1['soil_temp'] = df1.apply(fill_missing_soil_temp, axis=1)

In [20]:
df1.shape

(102078, 2)

In [21]:
df1.head()

   soil_temp  soil_phs
0       20.9       NaN
1       23.0       NaN
2       22.0       NaN
3       21.0       NaN
4       19.0       NaN

In [22]:
# Define a function to fill missing soil ph with random values between -11 and 60
def fill_missing_soil_phs(row):
    if pd.isnull(row['soil_phs']):
        return round(random.uniform(4.5, 9), 1)
    else:
        return row['soil_phs']

In [23]:
# Apply the function to the soil phs column
df1['soil_phs'] = df1.apply(fill_missing_soil_phs, axis=1)

In [24]:
df1.shape

(102078, 2)

In [25]:
df1.head()

   soil_temp  soil_phs
0       20.9       5.9
1       23.0       4.9
2       22.0       8.7
3       21.0       6.8
4       19.0       4.9

In [26]:
df1.to_csv('.\\dataset\\pedo_data_add_1.csv')